.header{
    max-width: 1280px;
}
.app-bar-item{
    cursor: pointer;
}
.app-bar-item:hover{
    color: red;
}
.appbar-customer{
    

}
.drawer{
    overflow: hidden;
}
.MuiDrawer-paperAnchorLeft {
    width: 80vw;
    
}

  
  