.tab-tractor{
  position: absolute;
  left: 30px;
  z-index: 1;
 
  border-radius: 5px;
  overflow: hidden;
  background-color: #202126;
}
.list-tractor {
  border: 3px solid white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  border-right: none;
  background-color: #202126;
  overflow: scroll;
}

  .list{
   border-top: 1px solid #ccc;
   border-left: 1px solid #ccc;

  }
.tractor-item{
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: space-between;
  
}
  .logo-img{
    width: 24px;
    height: 24px;
    
  }
  
  .list li{
    border-bottom: 1px solid #ccc;
  }
  
.segment-value {
  display: none !important;
}
.pointer{
  transform: translate(20,20);
}
.tractor-details {
  color: aliceblue;
  position: absolute;
  
  height: auto;
  top:0;
  left: 50%;

  
  z-index: 1;

  border-radius: 5px;
}
.tab{
  width: 60%;
  font-size: 1.5rem;
  background-color: #202126;
  padding: 5px 5px 0 5px;
  border-top-right-radius: 40px;
 border-top-left-radius: 5px ;
}

.realtime-data{
  background-color: #202126;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sensor-data {
  display: grid;
  padding-top: 10px;
 
 grid-template-rows: repeat(2, 1fr);
 border: none;
}
.line{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
 
}
.line-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  
  width: 100%;
  height: 100px;
 
}

.column {
  flex: 1;
  padding: 10px;
  position: relative;
}

.icon-detail{
  margin-bottom: 5px;
}
.item-child{
  border-bottom: 1px solid #ccc;
}
circle{
  stroke: none;
  fill: none;
}
text{
  fill: white;
}
.chart-container{
  padding:  0 10px 0 10px;
  margin-bottom: 10px;
}
.chart {
  display: inline-block; 
  margin-right: 5px;
}
.chart-label{
  text-align: center;
 
}
.status-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;

  
}
.column{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.device-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;

  
}

.list-tab {
  display: flex;
  justify-content: space-between;
}

.checkbox-label {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.checkbox-label input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none; 
  width: 100%; 
  height: 5px;
  border-radius: 3px; 
  outline: none;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease;
}

.checkbox-label input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 100%; 
  height: 100%;
  background-color:#2596be; 
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.checkbox-label:hover input[type="checkbox"] {
  background-color: #f0f0f0;
}

.tab-list{
  display: flex;
  
}
.tab-all{
  color: white;
}
.tab-standing{
  color: #ffc107;
}
.tab-running{
  color: #4aee40;
}
.tab-child{
  background-color: #202126;
  cursor: pointer;
  width: 33%;
  height: 40px;
  border: 1px solid black ;
  border-top-right-radius: 30px;
  border-top-left-radius: 8px;
  overflow: hidden;
  align-items: center;
  text-align: center;

}

.choose{
  background-color: white;
  color: #202126;
  border-top: 1px solid #ccc ;
  border-right: 1px solid #ccc ;
  border-left: 1px solid #ccc ;
  border-bottom: none;
}
.tab-child input{
  margin: 0;
  border: none;
 height: 100%;
 width: 100%;
}
.sensor-value{
  font-size: 0.7rem;
}
.same-height{
  height: 20px;
  display: flex;
  align-items: center;
  
}
.tractor-item-child{
  flex-basis: 5%;
  text-align: center;
}
.parametter{


  color: white;
  padding: 2px;
}
.btn-search{
  border: none;
  border-radius: 2px;
  transition: transform 0.5s ease;
  
}
.btn-search:hover{
  transform: scale(1.1)
  
}
.marker-rotate {
  transform-origin: center center;
  transform: rotate(0deg);
}

.detail a {
  text-decoration: none; 
  color: inherit; 
}