html, body {
  width: 100%;
    margin: 0;
    padding: 0;
  }

.grid-item {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  }
  .parent {
    width: 100%;
    max-height: 100vh; 
  }
  
.square {
  position: relative;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.square span{
  font-weight: 500;
}


.icon{
  position: absolute;
  width: 30%;
  height: 30%;
  top: 10%; 
  left: 5%;
  margin: 0;
  padding: 0;
  float: left; 
}
.hello-span {
  position: absolute;
  top: 10%;
  right: 5%;
  margin: 0;
  padding: 0;
  float: right;
}
@media (min-width: 992px) {
  .value{
    font-size: 0.8rem;
  }
  .hello-span{
    font-size: 0.6rem;
  }
  .barvalue{
    font-size: 0.5rem;
  }
 }
 @media (min-width: 2000px){
  .value{
    font-size: 1.8rem;
  }
  .hello-span{
    font-size: 1.3rem;
  }
  .barvalue{
    font-size: 1.5rem;
  }
 }
.temperature-value{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}


.square1{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap:1px
}

.bar{
  margin-left: 100px;
}
.gauge-chart{
  border: 1px solid black;
  border-radius: 5px;
}

.item{
  border: 1px solid black;
}
.item1{
  display: grid;
  height: 50vh;
  gap: 5px;
  border-radius: 5px;
  
}
.item2{
  display: grid;
  height: 50vh;
   gap: 5px;
  border-radius: 5px;
}
.a2-item1{
  display: grid;
  gap: 2px;

}
.gauge{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gauge table{
  display: flex;
  justify-content: center;
  align-items: center;
}
.a4{
  display: grid;
  
}
.a2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap:2px
}
.a3-item1 {

  border: 1px solid black;
  border-radius: 5px;
}
.a2-item2{
  display: grid;
  gap:2px
}
.a{
  display: grid;
 
  border: 1px solid black;
  border-radius: 5px;
}
.a3{
  display: grid;
 gap:2px
}
.donut{
  border: 1px solid black;
  border-radius: 5px;
}
.square{
  position: relative;
}
.barchar{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: calc(55%); 
}

@media (min-width: 768px) {
  .item1 {
    grid-template-columns: 1fr 1fr;
  }
  .item2 {
    grid-template-columns: 1fr 1fr;
  }
  .a2-item1{
    grid-template-columns: 1fr 1fr;
}
.a{
  grid-template-rows: 1fr 1fr;
}
.a3{
  grid-template-rows: 1fr 1fr;
}
.a1{
  width: auto;
}
.a3-item1{
  width:auto ;
  height: auto;
}
.a3-item2{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap:1px;
  color: white;
}
.a3-item2-chart{
  width: auto;
  height: auto;
}
.a5{
  border: 1px solid black;
  border-radius: 5px;
}
.a2{
  display: grid;
}
.a2-item2{
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media (max-width: 767px) {
  .item1 {
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }
  .item2 {
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
  .a{
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
  .a3{
    grid-template-rows: 1fr 2fr;
    height: auto;
  }
  .a1{
    width: auto;
  }
  .a3-item1{
    width: auto;
  
  }
  .a3-item2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1px
  }
  .a5{
    width: auto;
  }
  .a2-item1{
    grid-template-columns: 1fr;
}
  .a2{
    grid-template-rows: 1fr
  }
  .a2-item2{
    
    grid-template-columns: 1fr;
  }
}

.item3{
  border: 1px solid black;
}
.item4{
  border: 1px solid black;
}
.a{
  border: 1px solid black;
  
  height: 100%;
}

.progress-bar-container {
  margin: 0;
  height: 10px;
  width: 80%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.progress-engine {
  height: 100%;
  transition: width 1s ease-in-out;

  background-color: green; 
}
.engine1{
  background-color: green;
}
.engine2{
  background-color: red;
}
button {
  margin: 10px;
}
.progress-bar-container.gearbar > div {
  
  border-right: 1px solid#ccc; 
}
.square-div {
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon1 {
  position: absolute;

  width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#onpower1{
  background-color: #f54242;
}














